<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esatto CRUD app</title>
    <script src="../static/buttonHandlers.js"></script>
</head>

<body>
    <h3> Create </h3>
    <input type="text" label="name" placeholder="name" id="name">
    <input type="text" label="address" placeholder="address" id="address">
    <input type="text" label="vat identification number" placeholder="vat identification number" id="vatId">
    <button id="add" onclick="createNewCustomer()">Add new customer</button>
    <hr>

    <h3> Read </h3>
    <button id="show" onclick="displayCustomers()">Show all customers</button>
    <div id="customers"></div>
    <hr>

    <h3> Update </h3>
    Edit customer with id:
    <input type="text" label="vat identification number" placeholder="vat identification number" id="idToEdit">
    <br><br>
    <div>
        <input type="text" label="name" placeholder="new name" id="newName">
        <input type="text" label="address" placeholder="new address" id="newAddress">
        <button id="edit" onclick="editCustomer()">Edit customer</button>
    </div>
    <hr>
    
    <h3> Delete </h3>
    Edit customer with id:
    <input type="text" label="vat identification number" placeholder="vat identification number" id="idToDelete">
    <button id="delete" onclick='deleteCustomer(document.getElementById("idToDelete").value)'>Delete</button>
</body>

</html>